// BASE COLORS

// PRIMARY COLOR

$primary-grey: #34332C;
$primary-yellow: #F6E45E;

// NEUTRAL COLORS

$black: #000; // Black
$white: #fff; // White

// ELEMENTS

$text: $white; // Text color
$link: $primary-yellow; // Link color

// BODY BACKGROUND

$body-bg: $white;
