// FONTS

// MAIN THIN
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

// MAIN THIN ITALIC
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

// MAIN LIGHT
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// MAIN LIGHT ITALIC
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// MAIN REGULAR
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// MAIN ITALIC
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// MAIN MEDIUM
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// MAIN MEDIUM ITALIC
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

// MAIN BOLD
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// MAIN BOLD ITALIC
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

// MAIN BLACK
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

// MAIN BLACK ITALIC
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

//--------------------------------------------------

// TEXT THIN
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

// TEXT THIN ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

// TEXT EXTRALIGHT
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

// TEXT EXTRALIGHT ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

// TEXT LIGHT
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// TEXT LIGHT ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// TEXT REGULAR
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// TEXT ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// TEXT MEDIUM
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// TEXT MEDIUM ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

// TEXT SEMIBOLD
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// TEXT SEMIBOLD ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

// TEXT BOLD
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// TEXT BOLD ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

// TEXT EXTRABOLD
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

// TEXT EXTRABOLD ITALIC
@font-face {
  font-family: "Sarabun";
  src: url("../fonts/Sarabun/Sarabun-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
